
<div class="corpo">
  <a href="#" (click)="exibir()">{{estudante.nome}}</a>

  <div *ngIf="estudante.aprovado" [class.light]="estudante.aprovado">
    O aluno está APROVADO<button (click)="descricao.focus()">Foco!</button><br>
    <textarea #descricao></textarea>
  </div>

  <div *ngIf="!estudante.aprovado"[class.light1]= "!estudante.aprovado">
    O aluno está REPROVADO<button (click)="descricao2.focus()">Foco!</button><br>
    <textarea #descricao2></textarea>
  </div>
</div>

<!--Aplicaçao de class e usso de focus
class pode ser representada por # apenas class-->
 
